#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 1.125rem;
    width: 25%;
    padding: 1.25rem;
    background-color: #FFF;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.dish-heart {
    position: absolute;
    background-color: #e9a209;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff9ea;
    width: 60px;
    height: 60px;
    right: -10px;
    top: -10px;
    border-radius: 10px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.5);
}

.dish-description {
    color: #434343;
    text-align: center;

}

.dish-rate {
    color: #e9a209;
}

.dish-price {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

@media screen and (max-width: 1170px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }
    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 768px) {
    .dish {
        width: 100%;
    }
    #menu .section-subtitle {
        text-align: center;
    }
}